USE [ParkingSystem]
GO
/****** Object:  StoredProcedure [dbo].[usp_ActualizarCliente]    Script Date: 20/05/2017 11:09:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ActualizarCliente]
@ccod CHAR(6),
@cnom VARCHAR(50),
@cape VARCHAR(50),
@cveh CHAR(6),
@cabo BIT
AS
UPDATE TB_CLIENTE SET NOMBRE = @cnom, APELLIDO = @cape, ID_VEHICULO = @cveh, ABONADO = @cabo
WHERE ID_CLIENTE = @ccod



GO
/****** Object:  StoredProcedure [dbo].[usp_ConsultarCliente]    Script Date: 20/05/2017 11:09:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ConsultarCliente]
@cod CHAR (6)
AS
DECLARE @abo BIT
SET @abo = (SELECT ABONADO FROM TB_CLIENTE WHERE ID_CLIENTE = @cod)
IF @abo = 1
  SELECT C.ID_CLIENTE,
       NOMBRE + ' ' + APELLIDO AS NOMBRE,
	   ES_ABONADO = CASE
            WHEN ABONADO = 1 THEN 'VERDADERO'
            WHEN ABONADO = 0 THEN 'FALSO'
          END,
	   ID_ABONADO,
	   ESTADO_PAGO,
	   EMAIL,
	   DIRECCION,
	   TELEFONO,
	   DNI,
	   ID_PUESTO
   
   FROM TB_CLIENTE C INNER JOIN TB_ABONADO A ON C.ID_CLIENTE = A.ID_CLIENTE WHERE @cod = C.ID_CLIENTE
ELSE
   SELECT ID_CLIENTE,
       --NOMBRE + ' ' + APELLIDO AS NOMBRE,
	   NOMBRE,APELLIDO,
	   ABONADO ES_ABONADO
	   /*ES_ABONADO = CASE
            WHEN ABONADO = 1 THEN 'VERDADERO'
            WHEN ABONADO = 0 THEN 'FALSO'
          END*/
   FROM TB_CLIENTE WHERE @cod = ID_CLIENTE

GO
/****** Object:  StoredProcedure [dbo].[usp_ConsultarCuenta]    Script Date: 20/05/2017 11:09:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ConsultarCuenta]
	@cusu VARCHAR(50),
	@ccon VARCHAR(50)
AS
	SELECT USUARIO, CONTRASEÑA FROM TB_CUENTA WHERE USUARIO = @cusu AND CONTRASEÑA = @ccon

GO
/****** Object:  StoredProcedure [dbo].[usp_ConsultarEmpleado]    Script Date: 20/05/2017 11:09:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ConsultarEmpleado]
@cod CHAR(4)
AS
SELECT ID_EMPLEADO,
       NOMBRE,
	   APELLIDO,
	   TELEFONO,
	   EMAIL,
	   DIRECCION,
	   TURNO  
FROM TB_EMPLEADO WHERE ID_EMPLEADO = @cod



GO
/****** Object:  StoredProcedure [dbo].[usp_ConsultarVehiculo]    Script Date: 20/05/2017 11:09:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ConsultarVehiculo]
@cod CHAR(4)
AS
SELECT ID_VEHICULO,
       MODELO,
	   MARCA,
	   DESCRIPCION,
	   ID_CLIENTE
FROM TB_VEHICULO WHERE @cod = ID_VEHICULO



GO
/****** Object:  StoredProcedure [dbo].[usp_EliminarCliente]    Script Date: 20/05/2017 11:09:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_EliminarCliente]
@ccod CHAR(6)
AS
DELETE FROM TB_CLIENTE WHERE ID_CLIENTE = @ccod



GO
/****** Object:  StoredProcedure [dbo].[usp_InsertarCliente]    Script Date: 20/05/2017 11:09:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_InsertarCliente]
@cnom VARCHAR(50),
@cape VARCHAR(50),
@cabo BIT
AS
DECLARE @ccod CHAR(6)
DECLARE @cont INT
SET @cont = (SELECT COUNT(*) FROM TB_CLIENTE)
IF @cont = 0
    SET @ccod = 'CLI001'
ELSE
    SET @ccod = (SELECT 'CLI' + RIGHT(MAX(SUBSTRING(ID_CLIENTE, 4, 3) + 1001), 3) 
	                FROM TB_CLIENTE)

INSERT INTO TB_CLIENTE VALUES (@ccod, @cnom, @cape, @cabo)


GO
/****** Object:  StoredProcedure [dbo].[usp_ListarCliente]    Script Date: 20/05/2017 11:09:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ListarCliente]
AS
SET NOCOUNT ON
SELECT ID_CLIENTE,
       NOMBRE + ' ' + APELLIDO AS NOMBRE,
	   [ES ABONADO] = CASE
            WHEN ABONADO = 1 THEN 'VERDADERO'
            WHEN ABONADO = 0 THEN 'FALSO'
          END
FROM TB_CLIENTE

GO
/****** Object:  StoredProcedure [dbo].[usp_ListarEmpleados]    Script Date: 20/05/2017 11:09:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ListarEmpleados]
--@cod char(4)
AS
SET NOCOUNT ON
SELECT ID_EMPLEADO,
       CONCAT(NOMBRE, ' ', APELLIDO) AS NOMBRE,
	   TELEFONO,
	   EMAIL,
	   DIRECCION,
	   TURNO,
	   NIVEL
FROM TB_EMPLEADO



GO
/****** Object:  StoredProcedure [dbo].[usp_ListarVehiculos]    Script Date: 20/05/2017 11:09:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ListarVehiculos]
AS
SET NOCOUNT ON
SELECT ID_VEHICULO,
       MARCA,
	   MODELO,
	   DESCRIPCION,
	   PLACA,
	   ID_CLIENTE
FROM TB_VEHICULO



GO
/****** Object:  Table [dbo].[TB_ABONADO]    Script Date: 20/05/2017 11:09:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_ABONADO](
	[ID_ABONADO] [char](6) NOT NULL,
	[ESTADO_PAGO] [bit] NULL,
	[EMAIL] [varchar](60) NULL,
	[DIRECCION] [varchar](60) NULL,
	[TELEFONO] [varchar](40) NULL,
	[DNI] [char](8) NULL,
	[ID_PUESTO] [char](6) NULL,
	[ID_CLIENTE] [char](6) NULL,
 CONSTRAINT [PK_ABONADO] PRIMARY KEY CLUSTERED 
(
	[ID_ABONADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_CLIENTE]    Script Date: 20/05/2017 11:09:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_CLIENTE](
	[ID_CLIENTE] [char](6) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[APELLIDO] [varchar](50) NULL,
	[ABONADO] [bit] NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_CUENTA]    Script Date: 20/05/2017 11:09:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_CUENTA](
	[ID_CUENTA] [char](6) NOT NULL,
	[USUARIO] [varchar](50) NOT NULL,
	[CONTRASEÑA] [varchar](50) NOT NULL,
	[ID_EMPLEADO] [char](6) NULL,
 CONSTRAINT [PK_TB_CUENTA] PRIMARY KEY CLUSTERED 
(
	[ID_CUENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_EMPLEADO]    Script Date: 20/05/2017 11:09:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_EMPLEADO](
	[ID_EMPLEADO] [char](6) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[APELLIDO] [varchar](50) NULL,
	[TELEFONO] [varchar](10) NULL,
	[EMAIL] [varchar](60) NULL,
	[DIRECCION] [varchar](60) NULL,
	[TURNO] [varchar](50) NULL,
	[NIVEL] [int] NULL,
 CONSTRAINT [PK_EMPLEADO] PRIMARY KEY CLUSTERED 
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_ESTACIONAMIENTO]    Script Date: 20/05/2017 11:09:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_ESTACIONAMIENTO](
	[ESPACIOS] [int] NULL,
	[ESPACIOS_DISPONIBLES] [int] NULL,
	[TARIFA_DIARIA] [decimal](6, 2) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_PUESTO]    Script Date: 20/05/2017 11:09:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_PUESTO](
	[ID_PUESTO] [char](4) NULL,
	[NIVEL] [int] NULL,
	[BLOQUE] [varchar](5) NULL,
	[ESTADO_DISPONIBILIDAD] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_REGISTRO]    Script Date: 20/05/2017 11:09:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_REGISTRO](
	[ID_REGISTRO] [char](6) NOT NULL,
	[H_ENTRADA] [datetime] NULL,
	[H_SALIDA] [datetime] NULL,
	[TARIFA] [decimal](6, 2) NULL,
	[DESCRIPCION] [varchar](1000) NULL,
	[ID_CLIENTE] [char](6) NULL,
	[ID_EMPLEADO] [char](6) NULL,
	[ID_VEHICULO] [char](6) NULL,
	[ID_PUESTO] [char](6) NULL,
 CONSTRAINT [PK_REGISTRO] PRIMARY KEY CLUSTERED 
(
	[ID_REGISTRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_VEHICULO]    Script Date: 20/05/2017 11:09:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_VEHICULO](
	[ID_VEHICULO] [char](6) NOT NULL,
	[MARCA] [varchar](20) NULL,
	[MODELO] [varchar](20) NULL,
	[DESCRIPCION] [varchar](1000) NULL,
	[PLACA] [char](7) NULL,
	[ID_CLIENTE] [int] NULL,
 CONSTRAINT [PK_VEHICULO] PRIMARY KEY CLUSTERED 
(
	[ID_VEHICULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TB_ABONADO] ([ID_ABONADO], [ESTADO_PAGO], [EMAIL], [DIRECCION], [TELEFONO], [DNI], [ID_PUESTO], [ID_CLIENTE]) VALUES (N'ABO001', 1, N'mrodriguez@hotmail.com', N'Av Las Gardenias 884 Lurin', N'921448557', N'52147859', N'P001  ', N'CLI001')
INSERT [dbo].[TB_CLIENTE] ([ID_CLIENTE], [NOMBRE], [APELLIDO], [ABONADO]) VALUES (N'CLI001', N'Jose', N'Perez', 0)
INSERT [dbo].[TB_CLIENTE] ([ID_CLIENTE], [NOMBRE], [APELLIDO], [ABONADO]) VALUES (N'CLI002', N'Marco', N'Rodriguez', 1)
INSERT [dbo].[TB_CLIENTE] ([ID_CLIENTE], [NOMBRE], [APELLIDO], [ABONADO]) VALUES (N'CLI003', N'Niels', N'Rodriguez', 1)
INSERT [dbo].[TB_CUENTA] ([ID_CUENTA], [USUARIO], [CONTRASEÑA], [ID_EMPLEADO]) VALUES (N'CUE001', N'admin', N'admin', NULL)
INSERT [dbo].[TB_PUESTO] ([ID_PUESTO], [NIVEL], [BLOQUE], [ESTADO_DISPONIBILIDAD]) VALUES (N'P001', 1, N'A', 1)
ALTER TABLE [dbo].[TB_ABONADO]  WITH CHECK ADD  CONSTRAINT [FK_ABONADO_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[TB_CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[TB_ABONADO] CHECK CONSTRAINT [FK_ABONADO_CLIENTE]
GO
ALTER TABLE [dbo].[TB_CUENTA]  WITH CHECK ADD  CONSTRAINT [FK_TB_CUENTA_TB_EMPLEADO] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[TB_EMPLEADO] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[TB_CUENTA] CHECK CONSTRAINT [FK_TB_CUENTA_TB_EMPLEADO]
GO
ALTER TABLE [dbo].[TB_REGISTRO]  WITH CHECK ADD  CONSTRAINT [FK_REGISTRO_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[TB_CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[TB_REGISTRO] CHECK CONSTRAINT [FK_REGISTRO_CLIENTE]
GO
ALTER TABLE [dbo].[TB_REGISTRO]  WITH CHECK ADD  CONSTRAINT [FK_REGISTRO_EMPLEADO] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[TB_EMPLEADO] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[TB_REGISTRO] CHECK CONSTRAINT [FK_REGISTRO_EMPLEADO]
GO
ALTER TABLE [dbo].[TB_REGISTRO]  WITH CHECK ADD  CONSTRAINT [FK_REGISTRO_VEHICULO] FOREIGN KEY([ID_VEHICULO])
REFERENCES [dbo].[TB_VEHICULO] ([ID_VEHICULO])
GO
ALTER TABLE [dbo].[TB_REGISTRO] CHECK CONSTRAINT [FK_REGISTRO_VEHICULO]
GO
